/*!
 * Ardinal Portfolio Files
 *
 */
html, body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
}

#main-nav {
	background-color: #1f2125;
}

@media only screen and (min-width: 992px) {
	#main-nav {
		position: absolute;
	}

	#main-nav {
		-webkit-transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		-o-transition: background-color 0.2s;
		transition: background-color 0.2s;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
		background-color: #1f2125;
	}

	#main-nav.is-fixed {
		position: fixed;
		top: -84px!important;
		-webkit-transition: -webkit-transform 0.2s;
		-moz-transition: -moz-transform 0.2s;
		-o-transition: -o-transform 0.2s;
		transition: -webkit-transform 0.2s;
		transition: transform 0.2s;
		transition: transform 0.2s, -webkit-transform 0.2s;
	}

	#main-nav.is-visible {
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

.navbar-brand {
	margin-top: auto;
	margin-bottom: auto;
	height: 66px;
	display: flex;
}

.nav-icon {
	width: 2.25rem;
	margin: auto .5rem;
}

.nav-label {
	margin: auto 0 0 0;
	color: #fff;
	font-weight: 700;
	line-height: 1.9;
	text-transform: uppercase;
}

.nav-top:hover {
	text-decoration: none;
} 

.burger-block {
	position: relative;
	top: 4px;
	display: flex;
	height: 68px;
	background-color: transparent;
}

.navbar-toggler {
	border: none;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
	outline: 0;
}

.navbar-toggler span {
	position: relative;
	left: 0;
	opacity: 1;
	display: block;
	background-color: #fff;
	height: 3px;
	width: 30px;
	margin-top: 5px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
	-webkit-transition: transform .35s ease-in-out;
	-moz-transition: transform .35s ease-in-out;
	-o-transition: transform .35s ease-in-out;
	transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: relative;
	top: 15px;
	opacity: 0.9;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 17px;
	visibility: hidden;
	background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: relative;
	top: -15px;
	opacity: 0.9;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.nav-bar {
	position: relative;
	top: 11px;
	left: 0;
}

@media only screen and (max-width: 991px) {
	.nav-bar {
		top: 0;
	}
}

.nav-bar .nav-item {
	padding: 0 1rem!important;
}

.nav-bar .nav-link {
	padding: .5rem 0!important;
	position: relative;
	line-height: 2.7;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: all ease-in-out .3s;
	-moz-transition: all ease-in-out .3s;
	-o-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
}

.nav-bar .nav-link .fas {
	font-size: 14px;
	margin-left: 1rem; 
}

@media only screen and (max-width: 991px) {
	.nav-bar .nav-link:hover,
	.nav-bar .nav-link.active {
		color: #61d2b4;
	}
}

@media only screen and (min-width: 992px) {
	.nav-bar .nav-link:hover:after,
	.nav-bar .nav-link.active:after {
		opacity: 1;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	.nav-bar .nav-link:after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		opacity: 0;
		height: 3px;
		background: #61d2b4;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(-100%);
		-webkit-transition: all ease-in-out .3s;
		-moz-transition: all ease-in-out .3s;
		-o-transition: all ease-in-out .3s;
		transition: all ease-in-out .3s;
	}
}

.custom-jumbotron {
	margin-bottom: 0;
	position: relative;
	border-radius: 0;
	background: url('../../img/hello.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: scroll;
}

@media only screen and (max-width: 991px) {
	.custom-jumbotron {
		height: auto;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #212529;
	opacity: .5;
}

.site-heading {
	padding: 16rem 0;
	text-align: right;
}

.site-heading .text-header {
	margin-bottom: .5rem;
	letter-spacing: -5px;
	font-size: 5rem;
	font-weight: 700;
	text-transform: capitalize;
	word-wrap: break-word;
	line-height: .7;
	color: #fff;
}

.site-heading .lead {
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -1px;
	color: #61d2b4;
}

@media only screen and (max-width: 991px) {
	.site-heading {
		padding: 18rem 0;
		text-align: right;
	}

	.site-heading .text-header {
		font-size: 4rem;
	}
	
	.site-heading  .lead {
		font-size: 18px;
	}
}

.padding-is-section {
	padding: 10rem 1rem;
}

.padding-is-project {
	padding: 1rem 1rem 5rem;
}

.padding-is-footer {
	padding: 5rem 1rem 1rem;
}

@media only screen and (max-width: 991px) {
	.padding-is-section {
		padding: 5rem 1rem 2rem;
	}

	.padding-is-project {
		padding: 2rem 1rem;
	}
}

.section-header {
	display: block;
	padding: 10px 20px;
}

@media only screen and (max-width: 991px) {
	.section-header span::before {
		border-top: 1px solid #61d2b4;
		content: "";
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
	}

	.section-header .heading {
		position: relative;
		z-index: 1;
		font-size: 24px;
		letter-spacing: -1px;
		margin-bottom: 2rem;
		text-transform: uppercase;
		font-weight: 500;
	}

	.section-header span {
		background: #fff;
		padding: 1rem;
	}
}

@media only screen and (min-width: 992px) {
	.section-header {
		position: absolute;
		top: 185px;
		left: -145px;
		width: 380px;
		height: 20px;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.section-header .heading {
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-align: right;
	}

	.section-header span::after {
		content: '';
		position: absolute;
		bottom: -23px;
		right: 20px;
		width: 100px;
		height: 3px;
		background: #61d2b4;
	}
}

.intro-picture {
	display: block;
	overflow: hidden;
	margin-bottom: 3rem;
	padding: 10px 20px;
}

.intro-picture .wrapper {
	position: relative;
	top: 0;
	left: 0;
	-webkit-box-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.4);
	-moz-box-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.4);
	-o-box-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.4);
	box-shadow: .3rem .4rem .4rem rgba(0, 0, 0, 0.4);
}

.intro-picture .wrapper::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg);
	-o-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.intro-picture .wrapper:hover::after {
	-webkit-animation: shine 1s;
	-moz-animation: shine 1s;
	-o-animation: shine 1s;
	animation: shine 1s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@-moz-keyframes shine {
	100% {
		left: 125%;
	}
}

@-o-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

.intro-picture .img-fluid {
	object-position: center;
	object-fit: cover;
}

.intro-section, .skill-section {
	margin-bottom: 3rem;
}

@media only screen and (max-width: 991px) {
	.intro-section, .skill-section {
		margin-bottom: 1.5rem;
	}
}

.intro-section, .skill-section, .project-section {
	padding: 10px 20px;
	display: block;
}

.intro-section .content,
.skill-section .content {
	line-height: 2;
	word-wrap: break-word;
	font-weight: 300;
	text-align: right;
}

@media only screen and (max-width: 991px) {
	.intro-section .content,
	.skill-section .content,
	.section-header .heading,
	.dl-link,
	.skill-section .legend {
		text-align: center!important;
	}
}

.dl-link {
	position: relative;
	z-index: 1;
	display: block;
	text-align: right;
}

.dl-link a {
	overflow: hidden;
	margin: 0;
}

.dl-link a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #61d2b4;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-weight: 500;
}

.dl-link a::before  {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	background: #61d2b4;
	color: #fff;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
	-moz-transform: translateX(-25%);
	-o-transform: translateX(-25%);
	transform: translateX(-25%);
}

.dl-link a span {
	display: block;
	padding: 10px 20px;
	background: #fff;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	transition: transform 0.3s;
}

.dl-link a:hover span,
.dl-link a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

.dl-link a:hover::before,
.dl-link a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-o-transform: translateX(0%);
	transform: translateX(0%);
}

.skill-section .legend {
	position: relative;
	z-index: 1;
	text-align: right;
	font-size: 18px;
	color: #61d2b4;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.skill-section .legend::before {
	border-top: 1px solid #61d2b4;
	content:"";
	margin: 0 auto; 
	position: absolute;
	top: 50%; 
	left: 0; 
	right: 0; 
	bottom: 0;
	width: 100%;
	z-index: -1;
}

.skill-section .legend span {
	background: #fff;
	padding-left: 1rem; 
}

@media only screen and (max-width: 991px) {
	.skill-section .legend span {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.skill-section .list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	text-align: center;
}

.skill-section .list-item {
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding: .25rem .5rem;
}

.project-link {
	text-align: center;
}

.project-link a {
	padding: 16px 24px;
	font-size: 20px;
	color: #61d2b4;
	border: 1px solid #61d2b4;
	text-decoration: none;
	text-transform: capitalize;
	border-radius: 2px;
	outline: none;
	background: -webkit-linear-gradient(145deg, #fff 50%, #61d2b4 50%);
	background: -moz-linear-gradient(145deg, #fff 50%, #61d2b4 50%);
	background: -o-linear-gradient(145deg, #fff 50%, #61d2b4 50%);
	background: linear-gradient(145deg, #fff 50%, #61d2b4 50%);
	background-size: 250%;
	-webkit-backface-visibility: hidden;
}

.project-link a {
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-o-transition-delay: .2s;
	transition-delay: .2s;
}

.project-link a {
	-webkit-box-shadow: 0px 4px 7px rgba(97, 210, 180, 0.5);
	-moz-box-shadow: 0px 4px 7px rgba(97, 210, 180, 0.5);
	-o-box-shadow: 0px 4px 7px rgba(97, 210, 180, 0.5);
	box-shadow: 0px 4px 7px rgba(97, 210, 180, 0.5);
}

.project-link a i {
	font-size: 18px;
	margin: 0 10px;
}

.project-link a:hover {
	color: #fff;
	text-decoration: none;
	background-position: 100%;
}

.footer-section {
	display: flex;
	height: 100%;
	width: 100%;
	padding: .5rem 1rem;
}

.footer-section .copyright,
.footer-section .made-by {
	margin: auto;
}

.footer-section p {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #6c757d;
	margin: 0;
}

.footer-section .social {
	display: flex;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.footer-section .social::before {
	border-top: 1px solid #6c757d;
	content:"";
	margin: 0 auto; 
	position: absolute;
	top: 50%; 
	left: 0; 
	right: 0; 
	bottom: 0;
	width: 100%;
	z-index: -1;
}

.footer-section .social-icon {
	padding: 0;
	margin: auto;
	list-style: none;
	overflow: hidden;
	background: #fff;
}

.footer-section .icon {
	float: left;
	padding: 0 1rem;
}

.footer-section .icon a {
	font-size: 24px;
	color: #6c757d;
	text-decoration: none;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}

.footer-section .icon a:hover {
	color: #61d2b4;
	background-color: transparent;
}

.footer-section .made-link {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #6c757d;
	margin: 0;
	text-decoration: none;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}

.footer-section .made-link:hover {
	color: #61d2b4;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #1f2125;
}